<!-- [ navigation menu ] start -->
<div class="biggerContainer">
<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="images/logo.svg" alt="" class="logo logo-lg">
                <img src="images/logo-sm.svg" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                
                <li class="pc-item">
                    <a routerLink="dashboard" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
                </li>
            
            
            
                <li class="pc-item pc-hasmenu">
                    <a routerLink="auth" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">employees</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>                    
                </li>

              </ul>

        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
<div class="containerBig">
<router-outlet></router-outlet>
</div>
</div>

